<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TOURLINK</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
        </ul>
      </div>
    </div>
  </nav>



  <header class="masthead evt">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="card">

                  <div class="card-body">
                      <div class="card-title mb-4">
                          <div class="d-flex justify-content-start">
                              <div class="image-container">
                                <img src="http://placehold.it/300x300" id="imgProfile" style="width: 300px; height: 300px" class="img-thumbnail" />
                                  <div class="middle">
                                      <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                      <input type="file" style="display: none;" id="profilePicture" name="file" />
                                  </div>
                              </div>
                              <div class="userData ml-3">
                                  <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Some Name</a></h2>
                                  <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                                  <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                              </div>
                              <div class="ml-auto">
                                  <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-12">

                              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                  <li class="nav-item"><a class="nav-link active" id="tour_pasados-tab" data-toggle="tab" href="#tour_pasados" role="tab" aria-controls="tour_pasados" aria-selected="true">TOURS PASADOS</a></li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="tour_asignados-tab" data-toggle="tab" href="#tour_asignados" role="tab" aria-controls="tour_asignados" aria-selected="false">TOURS ASIGNADOS</a>
                                  </li>
                                  
                              </ul>
                              <div class="tab-content ml-1" id="">
                                  <div class="tab-pane fade show active" id="tour_pasados" role="tabpanel" aria-labelledby="tour_pasados-tab">
                                      <div class="row">
                                        <!-- bloque a repetirse según coincidencias de búsqueda -->
                                        <div class="col-3">
                                          <div class="card tour" style="width: 18rem;">
                                            <img src="http://lorempixel.com/300/200/nature" class="card-img-top" alt="img">
                                            <div class="card-body">
                                              <h5 class="card-title">Nombre del tour</h5>
                                              <hr>
                                              <p class="card-text"><span>Fecha</span> |  <span>Horaaa</span></p>
                                              <a href="#" class="btn btn-primary">Ver calificación</a>
                                            </div>
                                          </div>
                                        </div><!-- Cierra bloque -->
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="tour_asignados" role="tabpanel" aria-labelledby="tour_asignados-tab">
                                    <div class="row">
                                      <!-- bloque a repetirse según coincidencias de búsqueda -->
                                      <div class="col-3">
                                        <div class="card tour" style="width: 18rem;">
                                          <img src="http://lorempixel.com/300/200/nature" class="card-img-top" alt="img">
                                          <div class="card-body">
                                            <h5 class="card-title">Nombre del tour</h5>
                                            <hr>
                                            <p class="card-text"><span>Fecha</span> |  <span>Hora</span></p>
                                            <a href="#" class="btn btn-primary">Ver calificación</a>
                                          </div>
                                        </div>
                                      </div><!-- Cierra bloque -->
                                    </div>
                                      
                                  </div>
                                  
                              </div>
                          </div>
                      </div>


                  </div>

              </div>
          </div>
      </div>
  </div>
  </header>

  <footer>
    <div class="container">
      <p>&copy; Your Website 2019. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>