<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TOURLINK</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">            
          <li class="nav-item">
            <a href="#"  class="btn btn-secondary btn-xl active" > MI PERFIL</a>
          </li> 
          <li class="nav-item">
            <a href="cerrarSesion"  class="btn btn-secondary btn-xl" > SALIR </a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>



  <header class="masthead evt">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      <div class="card-title mb-4">
                          <div class="d-flex justify-content-start">
                              <div class="image-container">
                                <img src="http://placehold.it/300x300" id="imgProfile" style="width: 300px; height: 300px" class="img-thumbnail" />
                                  <div class="middle">
                                      <input type="button" class="btn btn-secondary" id="btnChangePicture" value="CAMBIAR FOTO" />
                                      <input type="file" style="display: none;" id="profilePicture" name="file" />
                                  </div>
                              </div>
                              <div class="userData ml-3">
                                  <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Some Name</a></h2>
                                  <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                                  <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                              </div>
                              <div class="ml-auto">
                                  <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                                <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
                                    <div class="container">
                                      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                                      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
                                        Menu
                                        <i class="fas fa-bars"></i>
                                      </button>
                                      <div class="collapse navbar-collapse" id="navbarResponsive">
                                        <ul class="navbar-nav ml-auto">
                                          <li class="nav-item">
                                            <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModal">
                                              AGREGAR TOUR
                                            </button>
                                          </li>                                                        
                                        </ul>
                                      </div>
                                    </div>
                                  </nav>
                                    <!-- Modal para REGISTRO DE TOUR -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¡Bienvenido!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <form id="crearTour" class="form-inicio" method="POST" action="evt/crearTour">
                                            <!--<input type="hidden" name="legajo_id" value="th:value=${evt.id}"/>-->
                                            <input type="hidden" name="legajo_id" value="123123"/>
                                            <div class="form-group">
                                              <label for="horario">Horario</label>
                                              <input type="text" class="form-control" id="horario" aria-describedby="emailHelp" placeholder="Horario de atención" name="horario">                                           
                                            </div>
                                            <div class="form-group">
                                              <label for="tipo_tour">Tipo Tour</label>
                                              <select class="select_tipo_tour" name="tipo_tour">
                                                  <option id="caminos" value="1"> Caminos del vino </option>
                                                  <option id="alta_montana" value="2"> Alta Montaña</option>
                                                  <option id="cooking_class" value="3"> Cooking class</option>
 
                                              </select>                                          
                                            </div>
                                            <div class="form-group">
                                              <label for="idioma">Idioma</label>
                                              <select class="select_idioma" name="idioma">
                                                  <option id="Español" value="ESPANOL">Español</option>
                                                  <option id="ingles" value="INGLES">Ingles</option>
                                                  <option id="frances" value="PORTUGUES">Portugués</option>
                                              </select>                                         
                                            </div>
                                            <div class="for-group">
                                                 <label for="fecha">Fecha</label>  
                                                 <input type="date" name="fecha">
                                            </div>
                                        </form>

                                      </div>
                                      <div class="modal-footer">
                                          <script>
                                              $(document).ready(function() {
                                                  $("#crearTour").click(function() {
                                                      url= http://localhost:8080/editarEvt;
                                                      window.location.href = url;
                                                  }
                                              }
                                          </script>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                                     
                                        <button type="submit" form="crearTour" id="crearTour" class="btn btn-success">Guardar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Cierra modal para REGISTRO TOUR -->
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link active" id="tour_pasados-tab" data-toggle="tab" href="#tour_pasados" role="tab" aria-controls="tour_pasados" aria-selected="true">TOURS PASADOS</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="tour_asignados-tab" data-toggle="tab" href="#tour_asignados" role="tab" aria-controls="tour_asignados" aria-selected="false">TOURS ASIGNADOS</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="tour_sin_asignar-tab" data-toggle="tab" href="#tour_sin_asignar" role="tab" aria-controls="tour_sin_asignar" aria-selected="false">TOURS SIN ASIGNAR</a>
                                </li>
                              </ul>

                              <div class="tab-content ml-1" id="">
                                  <div class="tab-pane fade show active" id="tour_pasados" role="tabpanel" aria-labelledby="tour_pasados-tab">
                                      <form action="evt/buscarToursPasados" method="POST">
                                        <input type="search" class="form-control mt-4" placeholder="Buscar" name="q" th:value="${q}">
                                                <button type="submit" class="btn btn-primary icon-search mt-3">Buscar</button>
                                      </form>
                                      <div class="row">
                                        <!-- bloque a repetirse según coincidencias de búsqueda -->
                                        <div class="col-3" th:each="tour : ${tours}">
                                          <div class="card tour" style="width: 18rem;">
                                            <img src="http://lorempixel.com/300/200/nature" class="card-img-top" alt="img">
                                            <div class="card-body">
                                              <h5 class="card-title">Nombre del tour</h5>
                                              <hr>
                                              <p class="card-text"><span th:text="${tour.fecha}"></span> |  <span>Hora</span></p>
                                              <a href="#" class="btn btn-primary">Ver calificación</a>
                                            </div>
                                          </div>
                                        </div><!-- Cierra bloque -->
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="tour_asignados" role="tabpanel" aria-labelledby="tour_asignados-tab">
                                    <div class="row">
                                      <!-- bloque a repetirse según coincidencias de búsqueda -->
                                      <div class="col-3">
                                        <div class="card tour" style="width: 18rem;">
                                          <img src="http://lorempixel.com/300/200/nature" class="card-img-top" alt="img">
                                          <div class="card-body">
                                            <h5 class="card-title">Nombre del tour</h5>
                                            <hr>
                                            <p class="card-text"><span>Fecha</span> |  <span>Hora</span></p>
                                            <!-- <a href="#" class="btn btn-primary">Ver calificación</a> -->
                                          </div>
                                        </div>
                                      </div><!-- Cierra bloque -->
                                    </div>
                                      
                                  </div>
                                  <div class="tab-pane fade" id="tour_sin_asignar" role="tabpanel" aria-labelledby="tour_sin_asignar-tab">
                                    <div class="row">
                                      <!-- bloque a repetirse según coincidencias de búsqueda -->
                                      <div class="col-3">
                                        <div class="card tour" style="width: 18rem;">
                                          <img src="http://lorempixel.com/300/200/nature" class="card-img-top" alt="img">
                                          <div class="card-body">
                                            <h5 class="card-title">Nombre del tour</h5>
                                            <hr>
                                            <p class="card-text"><span>Fecha</span> |  <span>Hora</span></p>

                                            <a href="evt/verGuias" class="btn btn-primary">Buscar Guía</a>

                                         

                                          </div>
                                        </div>
                                      </div><!-- Cierra bloque -->
                                    </div>                               
                                  </div>
                              </div>
                          </div>
                      </div>


                  </div>

              </div>
          </div>
      </div>
  </div>
  </header>

  <footer>
    <div class="container">
      <p>&copy; Your Website 2019. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>