<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TOURLINK</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-outline btn-xl" data-toggle="modal" data-target="#exampleModal01">
              REGISTRARME COMO EVT
            </button>

          </li>               
          <li class="nav-item">
            <button type="button" class="btn btn-outline btn-xl" data-toggle="modal" data-target="#exampleModal">
              REGISTRARME COMO GUÍA
            </button>

          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Modal para REGISTRO DE GUIAS -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Bienvenido!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<!--  id, razon_social, telefono, email, clave  -->
            <form id="formulario" class="form-inicio" method="POST" action="crearGuia" enctype="multipart/form-data">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="nombre">              
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido"  placeholder="Apellido" name="apellido">             
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="mail">
            </div>
            <div class="form-group">
              <label for="dni">Dni</label>
              <input type="number" class="form-control" id="dni" placeholder="Nro de Documento" name="dni">
            </div>
            <div class="form-group">
              <label for="imagen">Imagen de perfil</label>
              <input type="file" class="form-control-file" id="imagen" name="imagen">              
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña</label>
              <input type="password" class="form-control" id="contrasena" name="contrasena">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
          <button type="submit" form="formulario" class="btn btn-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Cierra modal para REGISTRO GUIAS -->
  
  
    <!-- Modal para REGISTRO DE EVT -->
  <div class="modal fade" id="exampleModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Bienvenido!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="formularioEvt" class="form-inicio" method="POST" action="crearEvt" enctype="multipart/form-data">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="razon_social">              
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="legajo">Legajo</label>
              <input type="number" class="form-control" id="legajo"  placeholder="Legajo" name="legajo_id">             
            </div>
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" id="direccion"  placeholder="Direccion" name="direccion">             
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="number" class="form-control" id="telefono" placeholder="Ingrese teléfono" name="telefono">
            </div>
            <div class="form-group">
              <label for="imagen">Imagen de perfil</label>
              <input type="file" class="form-control-file" id="imagen" name="imagen">              
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña</label>
              <input type="password" class="form-control" id="contrasena" name="contrasena">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
          <button type="submit" form="formularioEvt" class="btn btn-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Cierra modal para REGISTRO EVT -->

  <header class="masthead">
    
    <div class="jumbotron login" >
	    <div class="jumbotron_body">
		    <div class="container">
		    <div class="row justify-content-center ">
			    <div class="col-xs-10 col-md-4 col-md-offset-4 col-xs-offset-1 body-form">					
						<div class="main-wrapper-form">
							<div class="wrapper-form">
								<form action="/login" method="POST">
									<h3 class="form-head">¡Bienvenidos!</h3>
									<label for="email" class="label-login">Email</label><br>
									<input type="text" name="email" class="form-control" id="nombre" required="" aria-required="true"><br>
      						<!-- <p class="help-block error hidden">Ingresá tu nombre</p> -->
								  <label for="contraseña" class="label-login">Contraseña</label><br>
								  <div class="form-group item-form">
								   <input id="" name="contrasena" type="password" class="form-control" maxlength="15">
								   
									<input type="submit" name="ingresar" value="INGRESAR" class="btn btn-success" id="btn-ingresar">								
                </div></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>

