<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TOURLINK</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">            
          <li class="nav-item">
            <a href="editarEvt"  class="btn btn-xl" > MI PERFIL</a>
          </li> 
          <li class="nav-item">
            <a href="cerrarSesion"  class="btn btn-xl" > SALIR </a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead evt">
    

<div class="container">
  <div class="row">
    <div class="col-12">
      <form action="buscarGuias" method="POST">
        <input type="search" class="form-control mt-4" placeholder="Buscar" name="q" th:value="${q}">
                <button type="submit" class="btn btn-primary icon-search mt-3">Buscar</button>
      </form>
    </div>
  </div>
  <div class="row">  
    <!-- bloque a repetirse según coincidencias de búsqueda -->
    <div class="col-3" th:each="guia : ${guias}">
      <div class="card tour" style="width: 18rem;">
        <img src="http://placehold.it/300x300" class="card-img-top img_guia" alt="img">
        <div class="card-body">
          <h5 class="card-title" th:text="${guia.nombre}"></h5></h5> <!-- nombre guia -->
          <hr>
          <p class="card-text"><span th:text="${guia.usuario.email}"></span></p>
          <a href="#" class="btn btn-primary">Seleccionar Guía</a>
        </div>
      </div>
    </div><!-- Cierra bloque -->
  </div>
</div>

  

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>

